@import 'variables.css';
@import '/fonts/fonts.css';
@import '/fonts/line-awesome.min.css';

body,
html {
    margin: 30;
    padding: 0;
}

html.theme-light {
    background-color: #ffffff;
    color: #000000;
}

html.theme-dark {
    background-color: #000000;
    color: #ffffff;
}

a {
    text-decoration: none;
}

.menu a {
    padding: 20px;
}

html.theme-light a {
    color: #000000;
}

html.theme-dark a {
    color: #ffffff;
}

.product-detail {
    margin-top: 20px;
    padding: 20px;
}

.product-list {
    padding-left: 20px;
}

h1 {
    padding: 20px;
}

.footer {
    padding: 20px;
}
