:root {
    --green: #ddf951;
    --dark: #050522;
    --red: #ff4084;
    --blue: #5e39f3;
    --white: #ffffff;
    --light-gray: #c4c3d8;
    --gray: #9999a7;
    --footer-gray: #7b7b89;
    --footer-dark: #2f2f3e;
}
